snippet empty-board
        ........
        ........
        ........
        ........
        ........
        ........
        ........
        ........

snippet starting-board
        rnbqkbnr
        pppppppp
        ........
        ........
        ........
        ........
        PPPPPPPP
        RNBQKBNR
