snippet patat-slide
	## ${1}

	<!--
	speaker notes
	-->

snippet patat-speaker-notes
	<!--
	speaker notes
	-->

snippet patat-image
        \`\`\`sixel
        magick convert -resize 480 "${1}" sixel:-
        \`\`\`

snippet blog-image
	<div class="image-container">
	<img src="../images/${1}"/>
	</div>
